
Chapeau app/Service/obj/Debug/net6.0/Service.csproj.AssemblyReference.cache
Chapeau app/.vs/Chapeau app/FileContentIndex/86922b9b-b517-4658-9989-f11bbdbc5229.vsidx
Chapeau app/DAL/obj/Debug/net6.0/DAL.csproj.AssemblyReference.cache
Chapeau app/.vs/Chapeau app/FileContentIndex/838f9613-1722-4217-96fb-1ddb676ac0b4.vsidx
Chapeau app/.vs/Chapeau app/FileContentIndex/3e246c1b-3c3d-4bc2-a5ad-78d3d88bad42.vsidx
