
Chapeau app/Service/obj/
Chapeau app/.vs/
Chapeau app/DAL/obj/
Chapeau app/DAL/.vs/
Chapeau app/Service/bin/
Chapeau app/DAL/bin/
Chapeau app/ChapeauUi/obj/
Chapeau app/ChapeauUi/service/
Chapeau app/Model/obj/
Chapeau app/Model/bin/
